<p id="notice"><%= notice %></p>

<h1>List of Values for <%= @metric.name %></h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= metric_value_link_for(user, @metric) %></td>
        <td><%= user.metric_value_of(@metric) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
